### IDE Settings (EditorConfig/Sublime)
.editorconfig

### IDE Settings (VSCode)
.vscode

### logs
yarn-error.log
npm-debug.log

### dot files
.env
.DS_Store

### builds
dist
public
temp*


### test file
test.js
src/types.s.ts

node_modules
package-lock.json